/* style del nav */
.navbar-nav a{
    color:  white;
    font-size: 20px;
}
/* style del main carrusel */
.carousel-inner{
    margin-top: 50px;
}
/* style de la segunda seccion del main inicio */
.float-start{
    margin-top: 40px;
    margin-left: 70px;
}
.row{
    flex-direction: row-reverse;
    padding: 15px;
    margin-left: 60px;
}
/* footerr */
.list-group li{
    margin-left: 80px;
}
